# Project Manager has global oversight
*                     @AdrakPro

# Backend team ownership
/backend/             @tobiaszrolla

# Frontend team ownership  
/frontend/            @tobiaszrolla

# Testing team ownership
/*/tests/             @Igorrr213

# Security-sensitive areas
/.github/workflows/   @AdrakPro
